/* BOOTSTRAP */
@import "/node_modules//bootstrap/dist/css/bootstrap.min.css";

/* GOOGLE FONT - POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GOOGLE FONT - POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body{
  font-family: "Poppins", sans-serif;
}

a{
  text-decoration: none;
}

p{
  font-family: "Mulish", sans-serif;
}

/* LOADER - LOADING */
.loading{
  height: 100vh;
}

/* MAIN */
main{
  flex: 1;
}

/* FOOTER */
#footer{
  background: #1C1C1E;
  padding: 100px 0 43px;
}

/* MainFooterContent */
#footer .main-footer-content .group-icon .box-icons{
  background-color: rgb(255, 245, 224);
  padding: 30px 31px 45px;
}

#footer .main-footer-content .group-icon .box-icons .images img{
  transition: transform .4s ease-in;
}

#footer .main-footer-content .group-icon .box-icons .images img:hover{
  transform: scaleX(-1);
}


#footer .main-footer-content .group-icon .button-footer .cs-button{
  background-color: rgb(255, 169, 32);  
}

#footer .main-footer-content .group-icon .button-footer .cs-button:hover{
  background-color: rgb(226, 151, 31);
}

#footer .main-footer-content .group-icon .button-footer{
  margin-top: -10px;
}

#footer .main-footer-content .widget-info{
  font-size: .88rem;
}

#footer .main-footer-content .widget-info .sub-title,
#footer .main-footer-content .widget-info .footer-category-links .footer-category-link a{
  color: #8E8E93;
}

#footer .main-footer-content .widget-info .footer-category-links .footer-category-link a:hover{
  color: rgb(226, 151, 31);
  transition: all 0.3s ease;
}

#footer .main-footer-content .widget-info form input,
#footer .main-footer-content .widget-info form label{
  font-size: 0.7rem;
}

#footer .main-footer-content .widget-info form .form-check-input{
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 14px;
}

#footer .main-footer-content .widget-info form .form-check-input:checked{
  background-color: rgb(226, 151, 31);
}

#footer .main-footer-content .widget-info form .footer-form-btn{
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
}

#footer .main-footer-content .widget-info form .footer-form-btn:hover{
  background-color: rgb(226, 151, 31);
}

/* NavAndSocialFooterLinks */
#footer .footer-links{
  border-top: 1px solid rgba(255, 255, 255, 0.1);;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);;
}

#footer .footer-links .footer-nav-links .footer-nav-link a{
  color: #fff;
}

#footer .footer-links .footer-nav-links .footer-nav-link a:hover{
  color: rgb(226, 151, 31);
  transition: all 0.3s ease;
}

#footer .footer-links .footer-social-links .footer-social-link a{
  background-color: #120A21;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* padding: 10px; */
}

#footer .footer-links .footer-social-links .footer-social-link a:hover{
  background-color: rgb(226, 151, 31);
  transition: all 0.3s ease;
}
