/* BOOTSTRAP */
@import "/node_modules/bootstrap/dist/css/bootstrap.css";

/* GOOGLE FONT - POPPINS */
@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* GOOGLE FONT - POPPINS */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* GENERAL */

:root {
  --orange-color: rgb(255, 169, 32);
  --dark-orange-color: rgb(226, 151, 31);
  --dark-color: rgb(18, 10, 33);
  --gray-color: rgb(229, 229, 234);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

p {
  font-family: "Mulish", sans-serif;
}

.capitalize {
  text-transform: capitalize;
}

textarea {
  resize: none;
}

.text-orange,
.text-orange-hover {
  color: var(--orange-color);
}

.text-orange-hover:hover {
  color: var(--dark-orange-color);
}

.bg-orange,
.bg-orange-hover {
  background-color: var(--orange-color);
}

.bg-orange-hover:hover {
  background-color: var(--dark-orange-color);
}

.form-control:focus,
.form-select:focus {
  border-color: var(--orange-color);
  box-shadow: none;
}

.btn:active {
  transform: scale(0.9);
}

/* SWIPER */
.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* LOADER - LOADING */
.loading {
  height: 100vh;
}

/* ---------- HEADER ---------- */
#header {
  background-color: #fff;
}

#header .user-onboarding .navbar-brand img {
  width: 197px;
  height: 48px;
}

#header .navbar .navbar-toggler {
  color: rgb(255, 169, 32);
}

#header .navbar .navbar-nav .nav-item a {
  color: #120a21;
}

#header .navbar .navbar-nav .nav-item a:hover,
#header .navbar .navbar-nav .nav-item a.active {
  color: rgb(255, 169, 32);
  transition: all 0.3s ease;
}

/* #header .navbar .btn-container .btn{ */
#header .user-onboarding .btn-container,
#header .user-onboarding .btn-container button {
  font-weight: 500;
  font-size: 0.85rem;
}

#header .user-onboarding .btn-container .display-signUp-modal:hover,
#header .user-onboarding .btn-container .display-logIn-modal:hover {
  color: rgb(226, 151, 31);
  transition: all 0.3s ease;
}

#header .navbar .home-btn {
  background-color: rgb(255, 169, 32);
  padding: 15px 18px;
  border-radius: 10px;
}

#header .navbar .home-btn:hover {
  background-color: rgb(226, 151, 31);
  transition: all 0.3s ease;
}

/* Registration Modals - Sing Up, LogIn, Forgot Password */
#signUpModal,
#logInModal {
  font-size: 0.88rem;
}

#signUpModal .modal-content .form-control,
#logInModal .modal-content .form-control,
#forgotPasswordModal .modal-content .form-control {
  padding: 12px 14px;
}

#signUpModal .modal-content .registration-btn,
#logInModal .modal-content .log-in-btn,
#forgotPasswordModal .modal-content .forgot-password-btn {
  background-color: rgb(255, 169, 32);
}

#signUpModal .modal-content .registration-btn:hover,
#logInModal .modal-content .log-in-btn:hover,
#forgotPasswordModal .modal-content .forgot-password-btn:hover {
  background-color: rgb(226, 151, 31);
  transition: all 0.3s ease;
}

#signUpModal .modal-content .modal-footer .btn,
#logInModal .modal-content .modal-footer .btn {
  font-size: 14px;
  color: rgb(255, 169, 32);
}

#logInModal .modal-content .forgot-password-container .btn {
  font-size: 14px;
}

#signUpModal .modal-content .modal-footer .btn:hover,
#logInModal .modal-content .modal-footer .btn:hover,
#logInModal .modal-content .forgot-password-container .btn:hover {
  color: rgb(226, 151, 31);
  transition: all 0.3s ease;
}

/* ---------- MAIN ---------- */
main {
  flex: 1;
}

/* PageLocation Component */
.page-location {
  font-size: 0.75rem;
}

.page-location .home-link {
  color: var(--orange-color);
}

.page-location .home-link:hover {
  color: var(--dark-orange-color);
}

.page-location .home-link:after {
  content: ">";
  color: var(--dark-color);
  margin: 0 12px;
  font-weight: 500;
}

/* DASHBOARD PAGE */
/* Hero component */
.hero {
  background-image: url(../src/assets/dashboard-assets/jeftine_kuce_slider_bg.png);
}

.hero-container {
  max-width: 1400px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .hero-container {
    position: relative;
  }

  .hero-filter {
    position: absolute;
    width: 70%;
  }

  .hero-container .hero-heading {
    margin-bottom: 250px;
  }
}

.hero-heading {
  margin-bottom: 30px;
}

.hero-heading h1 {
  font-size: 60px;
}

.hero-img img {
  max-width: 120%;
}

.hero-filter {
  background-color: #fff;
  /* border: 1px solid var(--gray-color); */
  box-shadow: 0px 4px 26px 0px rgba(66, 71, 76, 0.07);
  border-radius: 10px;
  padding: 30px 10px;
  z-index: 10;
  top: 50%;
}

/* Partners component */
.partners-slider .partners-slider-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

/* ExpertAdvices component */
.expert-advice .box-content {
  font-size: 0.85rem;
  border-radius: 5px;
}

.expert-advice .box-content .box-image-content {
  border-radius: 10px;
}

.expert-advice .box-content .box-image-content a img {
  width: 100%;
  transition: all 0.7s linear;
}

.expert-advice .box-content a img:hover {
  transform: scale(1.2);
}

.expert-advice .box-content .box-image-content .box-image-text {
  background-color: #fff;
  bottom: 10px;
  left: 50%;
  width: 152px;
  height: 32px;
  border-radius: 6px;
  transform: translateX(-50%);
}

.expert-advice .box-content .box-image-content .box-image-text span,
.expert-advice .box-content .box-link a {
  color: var(--orange-color);
}

.expert-advice .box-content .box-link a:hover svg {
  animation: link-hover 0.4s ease;
}

@keyframes link-hover {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  49% {
    transform: translateX(20px);
    opacity: 0;
  }
  50% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Testimonials component */
.testimonials {
  background-color: #fff;
}

.swiper-content .swiper-content-testimonial {
  padding: 30px;
  box-shadow: 0px 4px 26px 0px rgba(66, 71, 76, 0.07);
}

.swiper-content .swiper-content-author p {
  font-size: 0.88rem;
}

/* OFFERS PAGE */
/* PostedOffersList component */
.layout-btn {
  border: 1px solid var(--gray-color);
}

.layout-btn:hover,
.layout-btn:hover svg {
  background-color: var(--orange-color);
  color: #fff;
}

/* PostedListingGridViewCard component */
.grid-card .grid-card-details {
  background-color: #fff;
  box-shadow: 0px 4px 26px 0px rgba(66, 71, 76, 0.0784313725);
  margin: 5px;
  padding: 25px;
  border: 1px solid var(--gray-color);
  border-radius: 25px;
}

.grid-card .grid-card-details-images {
  height: 300px;
}
/* .grid-card .grid-card-details-images .grid-card-details-image {
  position: relative;
  height: 400px;
} */

/* PostedListingListViewCard component */
.list-card {
  background-color: #fff;
  box-shadow: 0px 4px 26px 0px rgba(66, 71, 76, 0.0784313725);
}

.list-card p {
  font-size: 0.85rem;
}

.list-card .list-card-image {
  height: 75px;
  width: 75px;
  overflow: hidden;
}

.list-card .list-card-image img {
  height: 100%;
  width: 100%;
}

/* SELECTED LISTING PAGE */
.images-gallery {
  height: 500px;
  width: 100%;
}

/* PROFILE PAGE */
/* CreateNewOffer component */
.create-new-offer {
  display: block;
}

.create-new-offer.hide {
  display: none;
}

.form-btn,
.form-btn-active {
  padding: 5px 10px;
  margin-right: 7px;
  border: 1px solid var(--dark-orange-color);
  border-radius: 5px;
}

.form-btn-active {
  background-color: var(--dark-orange-color);
  border: 1px solid transparent;
  color: #fff;
}

/* CONTRACT PAGE */
/* ContactDetails component */
.contact-page .contact-info .box-info .icon-info:after {
  content: "/";
  color: #8e8e93;
  font-weight: 100;
  margin-left: 20px;
  font-size: 50px;
}

.contact-page
  .contact-info
  .box-info
  .content-details
  .contact-phone-number
  h3:hover,
.contact-page
  .contact-info
  .box-info
  .content-details
  .contact-email-address
  p:hover {
  color: var(--dark-orange-color);
}

.contact-page .contact-details .contact-image {
  margin-top: -50px;
}

/* Contact map component */
.leaflet-container {
  height: 60vh;
}

.leaflet-control-attribution a {
  display: none;
}

/* Contact form component */
.form-area {
  background-color: #fff;
  box-shadow: 0px 4px 26px 0px rgba(66, 71, 76, 0.0784313725);
}

.form-area .form-label,
.form-area .form-control,
.form-area .form-select,
.form-area .heading-section p {
  font-size: 0.85rem;
}

/* .form-area .form-control:focus,
.form-area .form-select:focus {
  border-color: var(--orange-color);
  box-shadow: none;
} */

.form-area .contact-form-btn {
  background-color: var(--orange-color);
  padding: 12px 25px;
}

.form-area .contact-form-btn span::before {
  content: "|";
  font-weight: 100;
  margin: 0 7px;
  opacity: 0.7;
}

.form-area .contact-form-btn:hover {
  background-color: var(--dark-orange-color);
}

/* ---------- FOOTER ---------- */
#footer {
  background: #1c1c1e;
  padding-top: 100px;
}

/* MainFooterContent component */
#footer .main-footer-content .group-icon .box-icons {
  background-color: rgb(255, 245, 224);
  padding: 30px 31px 45px;
}

#footer .main-footer-content .group-icon .box-icons .images img {
  transition: transform 0.4s ease-in;
}

#footer .main-footer-content .group-icon .box-icons .images img:hover {
  transform: scaleX(-1);
}

#footer .main-footer-content .group-icon .button-footer .cs-button {
  background-color: rgb(255, 169, 32);
}

#footer .main-footer-content .group-icon .button-footer .cs-button:hover {
  background-color: rgb(226, 151, 31);
}

#footer .main-footer-content .group-icon .button-footer {
  margin-top: -10px;
}

#footer .main-footer-content .widget-info {
  font-size: 0.88rem;
}

#footer .main-footer-content .widget-info .sub-title,
#footer
  .main-footer-content
  .widget-info
  .footer-category-links
  .footer-category-link
  a {
  color: #8e8e93;
}

#footer
  .main-footer-content
  .widget-info
  .footer-category-links
  .footer-category-link
  a:hover {
  color: rgb(226, 151, 31);
  transition: all 0.3s ease;
}

.footer-category-links .footer-category-link:hover a::before {
  opacity: 0; 
  visibility: hidden;
  margin-right: 0;
}

.footer-category-links .footer-category-link a::before {
  content: ">";
  color: var(--orange-color);
  margin-right: 10px;
  transition: all 0.3s ease;
}

#footer .main-footer-content .widget-info form input,
#footer .main-footer-content .widget-info form label {
  font-size: 0.7rem;
}

#footer .main-footer-content .widget-info form input:focus {
  border-color: var(--orange-color);
  box-shadow: none;
}

#footer .main-footer-content .widget-info form .form-check-input {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 14px;
}

#footer .main-footer-content .widget-info form .form-check-input:checked {
  background-color: rgb(226, 151, 31);
}

#footer .main-footer-content .widget-info form .footer-form-btn {
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
}

#footer .main-footer-content .widget-info form .footer-form-btn:hover {
  background-color: rgb(226, 151, 31);
}

/* NavAndSocialFooterLinks component */
#footer .footer-links {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#footer .footer-links .footer-nav-links .footer-nav-link a {
  color: #fff;
}

#footer .footer-links .footer-nav-links .footer-nav-link a:hover {
  color: rgb(226, 151, 31);
  transition: all 0.3s ease;
}

#footer .footer-links .footer-social-links .footer-social-link a {
  background-color: #120a21;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#footer .footer-links .footer-social-links .footer-social-link a:hover {
  background-color: rgb(226, 151, 31);
  transition: all 0.3s ease;
}

#footer .rights-footer a {
  color: rgb(255, 169, 32);
}
#footer .rights-footer a:hover {
  color: rgb(226, 151, 31);
}

/* BLOG PAGE */
.blog-content {
  background-image: url(../src/assets/dashboard-assets/jeftine_kuce_slider_bg.png);
}

/* ERROR PAGE */
.error {
  background-image: url(../src/assets/dashboard-assets/jeftine_kuce_slider_bg.png);
}

.error-page {
  height: 100vh;
}
